<div class="jumbotron text-secondary shadow rounded bg-light">

  <div class="container">
    <h3>
      <%= mdg_jumbotron %>
    </h3>
  </div>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |f| %>
    <div class="card mb-3 text-secondary border-0" id="div_<%= question.id%>">
      <div class="card-header">
        <h5>
          <%= question.description %>
        </h5>
        <%= link_to  site_search_subject_path(question.subject_id, question.subject.description),
          class: "btn btn-info text-light" do
        %>
          <%= question.subject.description  %>
          <span class="badge badge-light">
            <%= question.subject.questions_count %>
          </span>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Respostas</h5>
        <ul class="list-group list-group-flush">
          <% question.answers.each do |answer| %>
            <li class="list-group-item">
              <label class="d-flex align-items-center">
                <%= radio_button_tag('answer_id',
                  answer.id,
                  checked = false,
                  options = { class: "form-check-input"})
                %>
                <p class="pl-2 m-0"><%= answer.description %></p>
              </label>
            </li>
          <% end %>
          <li class="list-group-item pl-0">
            <%= f.submit "Responder", class: "btn btn-outline-secondary", id:"button_#{question.id}" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @questions %>
</div>
