<div>
  <div class="login_wrapper">
    <section class="login_content">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <h1>Esqueceu a senha?</h1>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="btn btn-default">
          <%= f.submit "Enviar instruções para meu email", style: "margin-left: 0px!important;" %>
        </div>
      <% end %>


      <%= render "users/shared/links" %>
    </section>
  </div>
</div>
