<h1>
  <%= t("titles.list_subjects") %>
</h1>

<hr>

<div class="d-flex justify-content-end pb-3">
  <%= link_to new_admins_backoffice_subject_path, class: "btn btn-secondary btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-plus text-white"></i>
    </span>
    <span class="text">
      <%= t("buttons.button_new_subject") %>
    </span>
  <% end %>

  <%= link_to admins_backoffice_subjects_path(format: :pdf), target: "_blank", class: "btn btn-danger btn-icon-split ml-3" do %>
    <span class="icon text-white-50">
      <i class="fas fa-file-pdf text-white"></i>
    </span>
    <span class="text">
      PDF
    </span>
  <% end %>
</div>

<table class="table table-bordered table-hover scroll">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> <%= @subjects.model.human_attribute_name(:description) %> </th>
      <th scope="col" colspan="1"> <%= t("table_actions") %> </th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
    <tr>
      <th scope="row"><%= subject.id %></th>
      <td><%= subject.description %></td>

      <td class="col-1">
        <%= link_to edit_admins_backoffice_subject_path(subject), class:"btn btn-primary" do %>
          <i class="fas fa-pen"></i>
        <% end %>

        <%= link_to admins_backoffice_subject_path(subject),
          method: :delete,
          class:"btn btn-danger",
          data: {confirm: t("messages_confirm.delete_subjects")} do
        %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @subjects %>
</div>
