<h1>Listando Administradores</h1>

<hr>

<div class="d-flex justify-content-end pb-3">
  <%= link_to new_admins_backoffice_admin_path, class: "btn btn-secondary btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-user-plus text-white"></i>
    </span>
    <span class="text">Novo Administrador</span>
  <% end %>
</div>

<table class="table table-bordered table-hover scroll">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="1">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
    <tr>
      <th scope="row"><%= admin.id %></th>
      <td><%= admin.email %></td>

      <td class="col-1">
        <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-primary" do %>
          <i class="fas fa-pen"></i>
        <% end %> 

        <%= link_to admins_backoffice_admin_path(admin),
          method: :delete, 
          class:"btn btn-danger",
          data: {confirm: "Deseja realmente excluir este administrador?"} do 
        %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>