<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'site' %>
  </head>

  <body class="bg-secondary">

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow rounded mt-5 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav w-100 d-flex align-items-start align-items-sm-start">
            <li class="nav-item w-25">
              <h5 class="m-0">
                <%= link_to "Time to Answers", root_path, class: "nav-link" %>
              </h5>
            </li>
            <% unless user_signed_in? %>
              <li class="nav-item">
                <%= link_to  "Entrar", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to  "Cadastrar-se", new_user_registration_path, class: "nav-link" %>
              </li>
              <% else %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                </a>
                <div class="dropdown-menu mb-3" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to users_backoffice_welcome_index_path, class: "dropdown-item" do %>
                    Perfil
                    <i class="fa fa-user-circle pull-right"></i>
                  <% end %>
                  <hr>
                  <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                    Sair
                    <i class="fa fa-sign-out pull-right"></i>
                  <% end %>
                </div>
              </li>
              <%= form_with(url: site_search_path, local: true, method: :get, class:"w-100 d-flex justify-content-end") do |form| %>
                <div class="d-flex align-items-center">
                  <%= form.text_field :term , class:"form-control", type:"search", placeholder:"Digite algo..." %>

                  <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="jumbotron text-secondary shadow rounded bg-light">
        <div class="container">
          <h3>Ultimas pergutas cadastradas...</h3>
          <% if params %>
            <strong>
              <%= "Resutado para o termo: \"#{params[:term]}\"..." %>
            </strong>
          <% end %>
        </div>
      </div>

      <%= yield %>

    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <% if flash %>
      <% flash.each do |key, value| %>
        <%= javascript_tag do %>
          $.bootstrapGrowl("<%= value %>", {
            type: 'success', // (null, 'info', 'error', 'success')
            align: 'right', // ('left', 'right', or 'center')
            allow_dismiss: true,
            stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
